{% extends 'webapp/main.html' %}

{% block content %}

<row-12>
    <div class="dropdown" style="margin: 0.5cm;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Departamento
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="INF" href="#">INFORMATICA</a></li>
          <li><a class="ELE" href="#">ELECTRICA</a></li>
          <li><a class="MEC" href="#">MECANICA</a></li>
        </ul>
      </div>
</row-12>
</div>  
<div class="row d-xxl-none" >
{% for comunicado in Comunicados %}

    <div class="col-sm-12 col-md-4" style="padding-bottom: 100px;" >
        <div class="card" style="width: 100%; height: auto; ">
            <div class="card-body">
              <h5 class="card-title">{{comunicado.titulo}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{comunicado.detalle_corto}}</h6>
              <p class="card-text">{{comunicado.detalle}}</p>
              <a href="#" class="card-link">{{comunicado.role}}</a>
            </div>
        </div>  
    </div>
    
{% endfor %}
</div>
  

<div class="d-none d-xxl-block">
    <div class="col-xxl-12" style="margin: 5px;" >
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              {% for comunicado in Comunicados %}
                <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{comunicado.titulo}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{comunicado.detalle_corto}}</h6>
                            <p class="card-text">{{comunicado.detalle}}</p>
                            <a href="#" class="card-link">{{comunicado.role}}</a>
                        </div>
                    </div>
                </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}